*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: white;

}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding-left: 80px;
    padding-right: 100px;

}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: #2F6280;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Ubuntu' , sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 800;
}


.navigation{
    float: right;
    height: 100%;
}

.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #2F6280;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 16px;
    font-weight: 590;

}

ul li{
  list-style: none;
  display: inline-block;
}

ul li a{
  position: relative;
  display: inline-block;
  line-height: 40px;
  color: #262626;
  letter-spacing: 1.1px;
  overflow: hidden;
  transition: 0.5s;
}

.menubar::after{
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: black;
  transition: width.3s;
}

.menubar:hover::after{
  width: 100%;
  transition: width.3s;
}

.myexp{
    font-family: 'Kanit', sans-serif;
}

.aboutme{
    font-family: 'Kanit', sans-serif;
}

.container1{
  font-family: 'Kanit', sans-serif;
  width: 430px;
  height: 210px;
  border: 2px solid #2F6280;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 100px auto;
  background: #F5F5F5;
  position: absolute;
  left: 290px;
 top: 180px;
 z-index: 1;
}

.container1:hover{
  background-color: white;
  }


.container2{
  font-family: 'Kanit', sans-serif;
  width: 430px;
  height: 210px;
  border: 2px solid #2F6280;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 100px auto;
  background: #F5F5F5;
  position: absolute;
  left: 780px;
  top: 420px;
  z-index: 1;
}
.container2:hover{
    background-color: white;
  }

.container3{
  font-family: 'Kanit', sans-serif;
  width: 430px;
  height: 210px;
  border: 2px solid #2F6280;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 100px auto;
  background: #F5F5F5;
  position: absolute;
  left: 780px;
  top: 180px;
  z-index: 1;
}
.container3:hover{
    background-color: white;
  }

.container4{
  font-family: 'Kanit', sans-serif;
  width: 430px;
  height: 210px;
  border: 2px solid #2F6280;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 100px auto;
  background: #F5F5F5;
  position: absolute;
  left: 290px;
  top: 420px;
  z-index: 1;
}
.container4:hover{
    background-color: white;
  }


.container h1{
  text-align: center;
  color: #2F6280;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

}

.container h2{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.Pcontainer1{
    font-family: 'Ubuntu', sans-serif;
    width: 1180px;
    height: 810px;
    border: 2px solid #2F6280;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 100px auto;
    background: #F5F5F5;
    position: absolute;
    left: 170px;
    top: 80px;
   z-index: 1;
}


.Pcontainer2{
      font-family: 'Kanit', sans-serif;
      width: 490px;
      height: 310px;
      border: 2px solid #2F6280;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      margin: 100px auto;
      background: #F5F5F5;
      position: absolute;
      left: 520px;
      top: 150px;
     z-index: 7;
  }

.Pcontainer2:hover{
      background-color: white;
    }

.space{
  line-height: 45px;
  font-size: 15;

}

.Pcontainer3{
    font-family: 'Kanit', sans-serif;
    width: 400px;
    height: 270px;
    border: 2px solid #2F6280;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 100px auto;
    background: #F5F5F5;
    position: absolute;
    left: 230px;
    top: 510px;
   z-index: 7;
}

.Pcontainer3:hover{
      background-color: white;
    }

.Pcontainer4{
      font-family: 'Kanit', sans-serif;
      width: 400px;
      height: 270px;
      border: 2px solid #2F6280;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      margin: 100px auto;
      background: #F5F5F5;
      position: absolute;
      left: 895px;
      top: 510px;
     z-index: 7;
  }

.Pcontainer4:hover{
  background-color: white;
}

/*Contact*/
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 50px;
  }

.Ccontainer1{
  font-family: 'Kanit', sans-serif;
  width: 1180px;
  height: 810px;
  border: 2px solid #2F6280;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 100px auto;
  background: #F5F5F5;
  position: absolute;
  left: 170px;
  top: 80px;
  z-index: 1;
  }

  .Icontainer1{
    font-family: 'Kanit', sans-serif;
    width: 430px;
    height: 210px;
    border: 2px solid #2F6280;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 100px auto;
    background: #F5F5F5;
    position: absolute;
    left: 280px;
    top: 200px;
   z-index: 1;
  }

  .Icontainer1:hover{
      background-color: white;
    }

  .Icontainer2{
    font-family: 'Kanit', sans-serif;
    width: 430px;
    height: 210px;
    border: 2px solid #2F6280;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 100px auto;
    background: #F5F5F5;
    position: absolute;
    left: 800px;
    top: 200px;
   z-index: 1;
  }

  .Icontainer2:hover{
      background-color: white;
    }

  .Icontainer3{
    font-family: 'Kanit', sans-serif;
    width: 430px;
    height: 210px;
    border: 2px solid #2F6280;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 100px auto;
    background: #F5F5F5;
    position: absolute;
    left: 280px;
    top: 500px;
   z-index: 3;
  }

  .Icontainer3:hover{
      background-color: white;
    }

  .Icontainer4{
    font-family: 'Kanit', sans-serif;
    width: 430px;
    height: 210px;
    border: 2px solid #2F6280;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 100px auto;
    background: #F5F5F5;
    position: absolute;
    left: 800px;
    top: 500px;
   z-index: 1;
  }

  .Icontainer4:hover{
      background-color: white;
    }

.githublogo{
  position: absolute;
  left: 1270px;
  top: 46px;
}

.Bcontainer4{
      font-family: 'Kanit', sans-serif;
      width: 200px;
      height: 270px;
      border: 2px solid #2F6280;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      margin: 100px auto;
      background: #F5F5F5;
      position: absolute;
      left: 940px;
      top: -45px;
     z-index: 7;
  }

.Bcontainer4:hover{
    background-color: white;
}

.roses{
  position: absolute;
  left: 15px;
  top: 65px;

}
